a {
    color: black;
    font-weight: bold;
}

#navbar a {
    color: rgba(253, 247, 255, 1);
    padding: 2px .2rem 2px 1rem;
    margin-left: 5px;
}

#navbar .dropdown-menu a {
    padding: 2px .75rem;
    margin-left: 0;
}

#navbar a:hover {
    text-decoration: none;
    color: white;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:hover {
    color: white;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown-item:first-child { border-radius: 5px 5px 0 0; }
.dropdown-item:last-child { border-radius: 0 0 5px 5px; }
  
.dropdown-item:hover{
    background-color:transparent;
}

@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.navbar-light .navbar-toggler {
    color: rgba(253, 247, 255, 1);
    border-color: rgba(0,0,0,.5);
    padding: .2rem .5rem;
}