@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html {
  scroll-behavior: smooth;
}

.equal-height-deck {
  display: flex;
  flex-wrap: wrap;
}

.navbar-toggler {
  color: #FDF7FF;
  border: none;
}

.navbar-nav {
  margin: 0.75em 0; 
  grid-gap: 1.25em;
}

.equal-height-deck .card {
  flex: 1;
  margin: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.style-end {
  align-items: end;
  text-align: right;
}

.h2-center {
  text-align: left;
}

.h2-center-new {
  text-align: left;
}

.mw-80 {
  max-width: 80%;
}

.main-span {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(252, 217, 47) 0%, rgb(252, 196, 103) 100%);
  background-clip: text;
}

.image-hover {
  opacity: 0.65;
  transition-duration: 0.25s;
}

.image-hover:hover {
  opacity: 1;
}

.flex-small {
  flex-direction: row;
  align-items: center;
}

.card-header {
  background-color: transparent;
}

h1, h2 {
  font-weight: bold;
}

h3 {
  font-weight: medium;
}

.gap {
  height: 5rem;
}

.hidden-reverse {
  display: hidden
}
/* .card {
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 50px rgba(24, 24, 24, 0.15);
    padding: 2rem;
}

@media (max-width:576px) {
  .card {
      padding: 1rem;
  }
}  */

.hero-pacil {
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

.hero-akademik {
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  padding-bottom: 64px;
}

.imaba-text {
  fill: linear-gradient(180deg, #E3AF32 0%, #9927C1 100%);
  mix-blend-mode: color-burn;
}

.flex-lg-hidden {
  display: flex;
}

.flex-md-hidden {
  display: grid;
}

.grid-2-man {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.p-hover-man {
  color: #352B48
}

.p-hover-man:hover {
  background: linear-gradient(356deg, #8E76B1 0%, #276EB0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes up{
  from{
      bottom:0px;
      opacity: 0.75;
  }
  to{
      bottom:7.5px;
      opacity: 1;
  }
}

.grid-lg-hidden {
  display: grid;
}

.card-animation:hover {
  position: relative;
  animation: up 0.25s;
  animation-duration: 0.25s;
  bottom:7.5px;        
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #534764;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
}

.grid-normal {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.flex-normal {
  display: flex;
  flex-direction: row;
}

.p-responsive {
  padding: 0.75em;
} 

.flex-tight {
  display: flex;
  flex-direction: row;
}

.flex-tight-new {
  display: flex;
  flex-direction: row;
}

.flex-tight-center {
  justify-content: center;
}

.flex-center {
  justify-content: center;
}


.rotate-chevron {
  transform: rotate(180deg);
}

.divider-container {
  display: flex;
  flex-direction: column;
}

.divider-container li:not(:last-child) {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem; 
}

.divider-container li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #E5DFEE;
}

.divider-container-main {
  display: flex;
  flex-direction: column;
}

.divider-container-main li:not(:last-child) {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem; 
}

.divider-container-main li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #DEDEB8;
}

.text-gradient {
  background: linear-gradient(356deg, #8E76B1 0%, #276EB0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.real-h2 {
  font-size: 40px;
}

.bigger-h2 {
  font-size: 54px;
}

.color-default {
  color: #352B48 !important
}

.real-span {
  font-size: 30px;
}

.real-small {
  font-size: 20px;
}

.p-8 {
  padding: 64px;
}

.w-50 {
    width: 50%;
}

.w-35 {
  width: 35% !important;
}

.w-35-new {
  width: 35% !important;
}

.w-65 {
  width: 65%;
}


.flex-small {
  flex-direction: row;
}

.title-narahubung {
  font-size: 2rem;
}

.title-sec {
  font-size: 1.25rem;
}

.video-container {
  width: 100%;
  max-width: 800px;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  margin: 0 auto;
  border: 2px solid #E5DFEE;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-faculty {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.w-50-new {
    width: 50%;
  }

@media (max-width: 1200px) {
  .flex-lg-hidden {
    display: none;
  }

  .grid-lg-hidden {
    display: none;
  }

  .w-50-new {
    width: 100% !important;
  }

  .flex-tight-new {
    display: flex;
    flex-direction: column;
  }

  .flex-center-new {
      align-items: center;
  }

  .h2-center-new {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  .grid-normal {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2-man {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid-normal:nth-last-child(odd) .grid-normal:last-child {
    grid-column: 1 / -1;
  }

  .grid-item-full {
    grid-column: 1 / -1;
  }

  .flex-tight {
    display: flex;
    flex-direction: column;
  }
  
  .flex-tight-center {
    align-items: center;
  }

  .w-50 {
    width: 100% !important;
  }

  .w-35 {
    width: fit-content !important;
  }

  .w-35-new {
    width: 100% !important;
  }

  .w-65 {
    width: 100% !important;
  }

  .flex-lg-hidden {
    display: none;
  }

  .grid-lg-hidden {
    display: none;
  }

  .h2-center {
    text-align: center;
  }

  .grid-faculty {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {

  .w-tempat-hidup {
    width: 100%;
    margin: auto;
  }

  .w-80-only {
  width: 80%;
}

  .real-small {
    font-size: 16px;
  }

  .footer-media-query {
    flex-direction: column;
    text-align: 'center';
    justify-content: "center";
  }
  .footer-media-query-2 {
    flex-direction: column;
    padding: 16px 0;
    justify-content: "center";
  }
  
  .flex-md-hidden {
    display: none;
  }

  .image-hero {
    display: none;
  }

  .hero-space{
    background-color: #FDF7FF;
  }
  
  .hero-pacil {
    border-radius: 0px;
    padding: 0 8px;
  }

  .p-8 {
    padding: 32px;
  }

  .hidden-reverse {
    display: block;
  }

  .grid-normal {
    grid-template-columns: repeat(1, 1fr);
  }

  .akademik-hero {
    flex-direction: column;
    padding-bottom: 0px;
  }

  .hero-akademik {
    border-radius: 0px;
  }

  .image-hero-akademik {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }

  .flex-normal {
    display: flex;
    flex-direction: column;
  }

  .flex-center {
    align-items: center;
  }

  .real-h2 {
    font-size: 24px;
  }
  
  .bigger-h2 {
    font-size: 32px;
  }

  .real-span {
    font-size: 16px;
  }

  .title-narahubung {
    font-size: 1.75rem;
  }
  
  .title-sec {
    font-size: 1rem;
  }

  .w-50 {
    width: 100%;
  }

  .w-35 {
    width: fit-content !important;
  }

  .w-35-new {
    width: 100% !important;
  }

  .w-65 {
    width: 100%;
  }

  .grid-faculty {
    display: none;
    grid-template-columns: repeat(3, 1fr);
  }

  .style-end {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .flex-small {
    flex-direction: column !important;
  }

  .flex-small-reverse {
    flex-direction: column-reverse !important;
  }

  .title-narahubung {
    font-size: 1.5rem;
  }
  
  .title-sec {
    font-size: 0.75rem;
  }

  .real-h2 {
    font-size: 20px;
  }

  .bigger-h2 {
    font-size: 30px;
  }

  .flex-small {
    flex-direction: column;
    align-items: baseline;
  }

  .p-responsive {
    padding: 0;
  } 

  .mw-80 {
    max-width: 100%;
  }
  
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0;
  }
}